<article ng-repeat="r in reviews.slice().reverse()">
  <div class="panel panel-primary">
    <div class="panel-heading">{{r.coffeeShop.name}}</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-md-10">
          <p><span class="text-info">Review: </span>{{r.comments}}</p>
        </div>
        <div class="col-xs-4 col-md-2">
          <div class="panel panel-success text-center">
            <div class="panel-heading">Rating</div>
            <div class="panel-body">
              <h2><span class="text-warning">{{r.rating}}&#9733;</span></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">Reviewed by: <span class="text-info">{{r.reviewer.email}}</span> on {{r.date | date}}</div>
  </div>
</article>
